/* Fonts ******************/

/* montserrat-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/montserrat-v26-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/montserrat-v26-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/montserrat-v26-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/montserrat-v26-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color-50: #fef2f2;
  --main-color-100: #fee2e2;
  --main-color-200: #fecaca;
  --main-color-300: #fca5a5;
  --main-color-400: #f87171;
  --main-color-500: #ef4444;
  --main-color-600: #dc2626;
  --main-color-700: #b91c1c;
  --main-color-800: #991b1b;
  --main-color-900: #7f1d1d;
  --main-color-950: #450a0a;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
}

.container {
  display: grid;
  margin: 0 auto;
  height: 100%;
  width: 70vw;
  background: #71f8f8;
  justify-items: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

header {
  width: 80%;
  height: 80px;
}

header ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  background: var(--main-color-100);
}

header ul li {
  justify-self: center;
  padding: 10px;
}

header ul li:hover {
  background: #71f8f8;
}

.heading-div {
  display: grid;
  width: 50%;
  margin: 20px;
  position: relative;
  grid-template-rows: 1fr 1fr;
}

.name-heading {
  background: var(--main-color-300);
  border: 10px ridge var(--main-color-600);
  border-radius: 3rem;
  font-weight: 900;
  text-align: center;
}

.quote {
  width: 50%;
  justify-self: center;
  align-self: center;
}

.sub-heading {
  font-size: 1.5rem;
  font-weight: 400;
}


.pig-img {
  width: 80%;
}

.pig-icon {
  position: absolute;
  width: 64px;
}

.pig-icon-right {
  top: -15px;
  right: -60px;
}

.pig-icon-left {
  top: -15px;
  left: -60px;
}
